/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/*******************************************************************************/

/* Universal Page Styling */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: #b6b2b3;
}

/*******************************************************************************/

/* Header Styling */
.canvas-header {
  font-size: 35px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background: #3c3837;
  color: white;
  font-family: 'Italiana', serif;
  justify-content: space-between;
  box-shadow: 0px 4px 4px black;
}

.header-links {
  padding-right: 20px;
  padding-top: 27px;
  font-size: 23px;
}

/*******************************************************************************/

/* Burger Menu (bm) / Sidebar Styling */
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
  color: white;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #b6b2b3;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 25px;
  width: 25px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background: #3c3837;
  box-shadow: 4px 4px 4px #141414;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/*******************************************************************************/

/* Landing Page Styling */

.landing {
  background-image: url('../image/background-landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

#landing-tattoo-btn{
  position: absolute;
  color: #fff;
  background-color: transparent;
  top: 18%;
  left:15px;
  width: auto;
  height: auto;
  font-size: 10vh;
  border: none;
  padding: 5px;
  -webkit-animation: glowing 3000ms infinite;
  -moz-animation: glowing 3000ms infinite;
  -o-animation: glowing 3000ms infinite;
  animation: glowing 3000ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 3px #fff;
  }
  50% {
    -webkit-box-shadow: 0 0 15px #fff;
  }
  100% {
    -webkit-box-shadow: 0 0 3px #fff;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 3px #fff;
  }
  50% {
    box-shadow: 0 0 15px #fff;
  }
  100% {
    box-shadow: 0 0 3px #fff;
  }
}

#landing-tattoo-btn:hover{
  background-color: rgba(255, 255, 255, .1);
  color: #fff;
  cursor: pointer;
}