/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*******************************************************************************/

/* Universal Page Styling */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: black;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 25px;
}

li:hover {
  color: #2994D1;
}

/*******************************************************************************/

/* Header Styling */
.canvas-header {
  font-size: 45px;
  font-family: 'Ubuntu', sans-serif;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-between;
}

.context {
  text-align: center;
  width: 100%;
  position:relative;
  top:30vh;
  margin-bottom: 60%;;
  font-size: 80px;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #2994D1,
      0 0 82px #2994D1,
      0 0 92px #2994D1,
      0 0 102px #2994D1,
      0 0 151px #2994D1;
}

.arrows {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 270px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 2px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.area{
  background: black;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:30vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -200px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.header-links {
  padding-right: 20px;
  padding-top: 27px;
  font-size: 23px;
}

.navActive {
  color: #1a69bd;
}

/*******************************************************************************/

/* Burger Menu (bm) / Sidebar Styling */
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
  color: white;
  transition: color 0.2s;
  position: sticky;
}

.bm-item:hover {
  color: #b6b2b3;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 25px;
  width: 25px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background: #171717;
  box-shadow: 4px 4px 20px #2994D1;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/*******************************************************************************/

/* Landing Page Styling */

.landing {
  background-image: url('../../client/src/image/background-landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

#landing-tattoo-btn{
  position: absolute;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  top: 18%;
  left:15px;
  width: auto;
  height: 60%;
  font-size: 6vh;
  border: none;
  padding: 5px;
  -webkit-animation: glowing 3000ms infinite;
  -moz-animation: glowing 3000ms infinite;
  -o-animation: glowing 3000ms infinite;
  animation: glowing 3000ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 0 transparent;
  }
  50% {
    -webkit-box-shadow: 0 0 20px #2994D1;
  }
  100% {
    -webkit-box-shadow: 0 0 0 transparent;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 8px #2994D1;
  }
  50% {
    box-shadow: 0 0 20px #2994D1;
  }
  100% {
    box-shadow: 0 0 8px #2994D1;
  }
}

#landing-tattoo-btn:hover{
  background-color: rgba(255, 255, 255, .1);
  color: #fff;
  cursor: pointer;
}

/*******************************************************************************/

/* Signup and Login Form Styling*/

.animate-charcter
{
  margin-top: 3%;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3f3f40 0%,
    #6f6f70 29%,
    #b5b5b5 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.signup-pg {
  background-image: url('../image/signup-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.signup-card {
  margin-top: 5%;
  height: 70%;
  border: 4px solid #242323;
  background-color: rgba(5, 5, 5, .9);
  background-blend-mode: multiply;
  border-radius: 25px;
  padding: 10%;
  box-shadow: 0px 0px 40px 20px #000000;
}

.box {
  width: 100%;
  padding: 5%;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: 17%;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  background-image: url('../image/signup-img.jpg');
  background-size:0in;
  background-color: rgba(150, 150, 150, .2);
  background-blend-mode: multiply;
  text-align: center;
  -webkit-animation: glowing 3000ms infinite;
  -moz-animation: glowing 3000ms infinite;
  -o-animation: glowing 3000ms infinite;
  animation: glowing 3000ms infinite;
}

.box, h1, p {
  color: white;
}

.box a {
  font-weight: bolder;
  color: #1a69bd;
}

.box input[type = "username"],.box input[type = "email"],.box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 65%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "username"]:focus,.box input[type = "email"]:focus,.box input[type = "password"]:focus{
  width: 75%;
  border-color: #1a69bd;
}

.login-btn {
  color: #1a69bd;
  margin-bottom: 3%;
}

/*******************************************************************************/

/* Gallery Styling */

.gallery-images {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1%;
  -webkit-animation: glowing 3000ms infinite;
  -moz-animation: glowing 3000ms infinite;
  -o-animation: glowing 3000ms infinite;
  animation: glowing 3000ms infinite;
}

.gallery-block {
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%
}

.choose-style {
  color: #fff;
  font-size: 45px;
  margin-bottom: 5%;
  border-bottom: 3px solid white;
  width: 100%;
  align-content:center;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #2994D1,
    0 0 82px #2994D1,
    0 0 92px #2994D1,
    0 0 102px #2994D1,
    0 0 151px #2994D1;
}

.style-choose {
  align-items: center;
}

/*******************************************************************************/

/* Responsive Design */


@media screen and (max-width: 980px) {
  .signup-card {
    margin-top: 5%;
  }

  .box {
    margin-top: 27%;
  }
}

@media screen and (max-width: 575px){
  .signup-card {
    margin-top: 10%;
  }

  .box {
    margin-top: 55%;
  }

  .animate-charcter {
    margin-top: 15%;
    font-size: 85px;
  }

  .context {
    top: 10vh;
    margin-bottom: 100%;
  }
}
